@import 'components';
@import 'mixin';
@import 'variables';
@import 'responsive';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    &::-webkit-scrollbar{
        width: 12px;
        
    }

    &::-webkit-scrollbar-track{
        background-color: $green;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $pink;
        border-radius: 12px;
    }
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

.top{
    position: relative;
    max-width: 1520px;
    margin: 0 auto;

    &__bg{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.header{
    padding: 15px;
    @include flexbox(flex,center,space-between);

   
    .nav{

        @include flexbox(flex,center,inherit);
        gap: 20px;
        &__link{
            text-decoration: none;
            font-size: 16px;
            line-height: 32px;
            color: $black;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                height: 2px;
                bottom: -4px;
                margin: 0 auto;
                left: 0;
                border-radius: 2px;
                 right: 0;
                width: 0%;
                background: transparent;
                transition:.5s;

                
            }
            &:hover::after{
                width: 100%;
                background: $black;
            }
            
        }
    }
}

.task-list{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 300px 15px;

    &__img{
        position: absolute;
        left: -15%;
        z-index: -1;
    }
}

.flex{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.cases{
    text-align: center;
    margin: 200px 0px;

    .tab-list{
        @include flexbox(flex,center,space-between);
        flex-wrap: wrap;

    }
}

.sponsor{
    @include flexbox(flex,center,space-between);
    margin-top: 120px;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.icon-pink{
    padding: 15px 12px;
    background: #FFFAEA;
    border-radius: 8px;
}

.icon-blue{
    background: #EEF6FF;
    border-radius: 8px;
    padding: 15px 12px;
}

.middle{
    background-color: $pink;
    margin: 300px 0px 150px;
    height: 370px;
}

.triangle{
    height: 370px;
    position: relative;
    @include flexbox(flex,center,space-between);
    .triangle-img{
        
        &__bg{
            position: absolute;
            top: -80px;

        }

        &__play{
            position: absolute;
            background: #FBD34B;
            border-radius: 8px;
            padding: 45px 45px 45px 53px;
            left: 150px;
        }
    }
    .triangle-title{
        max-width: 440px;
        h2,p{
            color: #FFFAEA;
        }
    }
}

.members{
    text-align: center;

    .profile{
        border: 1px solid #E6EDF5;
        border-radius: 8px;
        padding: 20px;
        text-align: left;
        transition: all 0.4s;
        &:hover{
            box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
            transform: scale(1.05);
        }

        h3{
            margin: 0;
            margin-top: 10px;
        }

        img{
            max-width: 340px;
            max-height: 320px;
            object-fit: cover;
            border-radius: 8px 8px 50px 8px;
        }
    }
}

.quotation{
    top: 0;
    position: absolute;
    right: 0;
    transform: translate(-20px, -20px);
}


.burger{
    border: none;
    background-color: transparent;
    display: none;
    outline: none;
}

.contact{
    background-color: $pink;
    margin: 200px 0px 100px;
    padding: 100px;
    border-radius: 12px;
    position: relative;
    gap: 20px;
    @include flexbox(flex,baseline,space-between);
    h2,p{
        color: white;
        max-width: 470px;
    }

    img{
        position: absolute;
        bottom: -5%;
        left: 40%;
    }
}

.form{
    @include flexbox(flex,normal,inherit);
    gap: 30px;
    .input{
        color: rgba(51, 51, 51, 0.496405);
        padding: 15px 20px;
        border: 1px solid #DADADA;
        border-radius: 6px;
        outline: none;
    }
}

.concepts{
    text-align: center;

}

.product-big{
    @include flexbox(flex,center,space-between);
    text-align: left;
    padding: 16px;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    gap: 20px;
    margin: 35px 0px;
    transition: all 0.4s;
    &:hover{
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
        transform: scale(1.05);
    }

    img{
        max-width: 554px;
        min-height: 336px;
        object-fit: cover;
        border-radius: 8px 8px 50px 8px;
    }

    div{
        max-width: 490px;
    }
}

.product{
    padding: 16px;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    text-align: left;
    max-width: 370px;
    margin-bottom: 50px;
    width: 100%;
    transition: all 0.4s;
    
    &:hover{
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
        transform: scale(1.05);
    }

    h3{
        margin: 25px 0px;
    }
    img{
        max-width: 338px;
        min-height: 240px;
        object-fit: cover;
        border-radius: 8px 8px 50px 8px;
    }
}   

.bottom{
    background-color: $brown;
    padding: 50px 0px;
    margin-top: 130px;
}

.footer{
    padding: 0px 15px;
    .footer-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;    
        letter-spacing: 1px;
        text-transform: uppercase;   
        color: #F07566;
        margin-bottom: 15px;
    }

    .footer-link{   
        text-decoration: none;
        color: white;
        transition: all 0.3s;

        &:hover{
            text-decoration:underline;
        }
    }

    .line{
        background-color: #494949;
        border: 1px solid rgb(109, 105, 105);
        margin: 60px 0px;
    }
}

.menu,.service{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social{
    a{
        padding: 15px;
        background-color: $pink;
        border-radius: 50%;
        text-decoration: none;
        margin-left: 10px;
        &:hover{
            opacity: 0.9;
        }
    }
}

.license{
    color: rgba(255, 255, 255, 0.502972);
}